{% extends 'base.html.twig' %}

{% block title %} Réinitialiser le mot de passe - Vacanows{% endblock %}

{% block main %}
<div class="centered-form">
    <div class="form-container">
        <h1>Réinitialiser le mot de passe</h1>

        {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.password.first) }}
                {{ form_widget(form.password.first, { 'attr': {'class': 'form-control'} }) }}
                {% if form.password.first.vars.errors|length > 0 %}
                    <div class="text-danger">
                        {{ form.password.first.vars.errors.0.message }}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form_label(form.password.second) }}
                {{ form_widget(form.password.second, { 'attr': {'class': 'form-control'} }) }}
            </div>

            <button type="submit" class="btn btn-primary">Réinitialiser le mot de passe</button>
        {{ form_end(form) }}

        <div class="toggle-form">
            <a href="{{ path('app_login') }}">Retour à la connexion</a>
        </div>
    </div>
</div>

<div class="wave"></div>
<div class="wave"></div>
<div class="wave"></div>
{% endblock %}
