{% extends 'base.html.twig' %}

{% block title %} Réinitialiser le mot de passe - Vacanows{% endblock %}

{% block main %}
<div class="centered-form">
    <div class="form-container">
        <h1>Réinitialiser le mot de passe</h1>

        {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.password) }}
                {{ form_widget(form.password, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.password) }}
            </div>

            <button type="submit" class="btn btn-primary">Réinitialiser le mot de passe</button>
        {{ form_end(form) }}

        <div class="toggle-form">
            <a href="{{ path('app_login') }}">Retour à la connexion</a>
        </div>
    </div>
</div>

<div class="wave"></div>
<div class="wave"></div>
<div class="wave"></div>
{% endblock %}
