<footer>
    <ul class="footer_nav">
        {% for i in 1..4 %}
            <li class="nav-item">
                 <a class="nav-link" href="{{ path('guides', {'guideSlug': guides[i-1].slug}) }}">{{ attribute(content, 'getNavbar' ~ i) }}</a>
            </li>
        {% endfor %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('about-us') }}">{{ content.getNavbar5 }}</a>
        </li>
    </ul>
    <ul class="mention-cookies">
        <a href="{{ path('mention_legale') }}"><li class="mention">mention</li></a>
        <li id="cookie-link" class="cookies">cookies</li>
    </ul>
    <a class="navbar-brand mx-5" href="{{ path('home') }}">
        {% if content.getLogo() is not null %}
            <img src="{{ asset('uploads/images/' ~ content.getLogo()) }}" alt="logo" width="80" height="80" class="img-navbar">
        {% endif %}
    </a>
<div class="footer_contact">
    <div class="newsletter">
        <p class="joinNews">Rejoignez notre newsletter</p>
        <p>pour recevoir nos nouvelles offres</p>
        <form id="newsletter-form" action="{{ path('alertemail') }}" method="post">
            <div class="input-container">
                <input type="email" id="email" name="email" placeholder="Votre adresse mail" required>
                <button type="submit" style="display: none;"><i class="fa-solid fa-arrow-right"></i></button>
                <i id="submit-icon" class="fa-solid fa-arrow-right" style="cursor: pointer;"></i> <!-- Icone -->
            </div>

            <div id="message" class="message"></div>
        </form>
        <div id="loadingNewsletter" class="hidden">Chargement...</div>
    </div>

    <div class="resseau_footer">
        <ul>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-tiktok"></i></a></li>
        </ul>
    </div>
</div>
</footer>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('newsletter-form');
        const submitIcon = document.getElementById('submit-icon');
        const message = document.getElementById('message');
        const loadingText = document.getElementById('loadingNewsletter');

        submitIcon.addEventListener('click', function() {
            form.dispatchEvent(new Event('submit'));
        });

        form.addEventListener('submit', function(event) {
            event.preventDefault();

            const formData = new FormData(form);

            form.classList.add('hidden');
            loadingText.classList.remove('hidden');

            fetch(form.getAttribute('action'), {
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Erreur lors de la requête');
                }
                return response.json();
            })
            .then(data => {
                showMessage(data.message, 'success');
                form.reset();
                form.classList.remove('hidden');
                loadingText.classList.add('hidden');
            })
            .catch(error => {
                showMessage('Une erreur s\'est produite lors de l\'inscription à la newsletter.', 'error');
                form.classList.remove('hidden');
                loadingText.classList.add('hidden');
            });
        });

        function showMessage(msg, type) {
            message.textContent = msg;
            message.classList.remove('success', 'error');
            message.classList.add(type);
            if (type === 'success') {
                message.style.fontSize = '14px';
                message.style.color = 'green';
            } else if (type === 'error') {
                message.style.fontSize = '14px';
                message.style.color = 'red';
            }
        }
    });
</script>
