<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        {% if content is not null %}
            <a class="navbar-brand" href="{{ path('home') }}">
                {% if content.getLogo() is not null %}
                    <img src="{{ asset('uploads/images/' ~ content.getLogo()) }}" alt="logo" width="100" height="100">
                {% endif %}
            </a>

            <div class="navbar-text d-flex ml-auto container-nav">
                <ul class="navbar-nav mx-2">
                    <li class="nav-item">
                        <a class="nav-link titre-navbar" href="{{ path('home') }}">{{ navbar_1 }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link titre-navbar" href="{{ path('home') }}">{{ navbar_2 }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link titre-navbar" href="{{ path('home') }}">{{ navbar_3 }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link titre-navbar" href="{{ path('home') }}">{{ navbar_4 }}</a>
                    </li>
                </ul>
                  <a class="btn ml-auto contact-button">Contact</a>
            </div>

        {% endif %}
    </div>
</nav>
