{% if content is not null %}
    <div id="bannerCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ asset('uploads/images/' ~ content.imageHeader) }}" alt="Bannière" class="image_bannerFirst img-fluid carousel-global w-100">
            </div>
            {% for i in 2..4 %}
                <div class="carousel-item carousel-global {% if i == 2 %}image_banner{% elseif i == 3 %}image_banner2{% elseif i == 4 %}image_banner3{% endif %}">
                    <img src="{{ asset('uploads/images/' ~ attribute(content, 'imageHeader' ~ i)) }}" alt="Bannière" class="img-fluid {% if i == 2 %}image_banner{% elseif i == 3 %}image_banner2{% elseif i == 4 %}image_banner3{% endif %}">
                </div>
            {% endfor %}
        </div>

        <div class="text-container">
            <h1 class="titre-header">{{ titre_header|striptags|raw }}</h1>
            <p class="paragraph-header">{{ paragraph_header|striptags|raw }}</p>
        </div>
        <div class="searchbar-container">
        <form id="searchForm" action="{{ path('articles') }}" method="get">
            <div class="search-wrapper">
                <select id="searchInput" name="sousCategorie2Id[]" class="form-control" multiple>
                </select>
                <div id="searchIcon" class="search-icon">
                    <img src="{{ asset('uploads/images/loupe.svg') }}" alt="Rechercher Voyage" type="submit">
                </div>
            </div>
        </form>
<div id="errorMessage" style="display: none; margin-top:80px;" class="alert alert-danger" role="alert">
    Veuillez sélectionner au moins une option.
</div>
        </div>
    </div>
{% endif %}

<script>
   $(document).ready(function() {
    function fetchSousCategories2() {
        $.ajax({
            url: "{{ path('selection_souscategories2') }}",
            method: "GET",
            dataType: "json",
            success: function(response) {
                $("#searchInput").select2({
                    data: response,
                    placeholder: "{{ placeholder_search }}",
                    allowClear: true,
                    multiple: true,
                    dropdownAutoWidth: false,
                    dropdownParent: $('#searchForm'),
                });
            },
            error: function(xhr, status, error) {
                console.error("Erreur lors de la récupération des sous-catégories 2:", error);
            }
        });
    }

    function showErrorAndHide() {
        $('#errorMessage').show();
        setTimeout(function() {
            $('#errorMessage').hide();
        }, 3000);
    }

    function displaySelectedSousCategories2Names(selectedValues) {
        $.ajax({
            url: "{{ path('selection_souscategories2') }}",
            method: "GET",
            dataType: "json",
            success: function(response) {
                var selectedSousCategories2Names = [];
                response.forEach(function(item) {
                    if (selectedValues.includes(item.id.toString())) {
                        selectedSousCategories2Names.push(item.text);
                    }
                });
                $('#selectedSousCategories2Names').text(selectedSousCategories2Names.join(', '));
                console.log(selectedSousCategories2Names);
            },
            error: function(xhr, status, error) {
                console.error("Erreur lors de la récupération des noms des sous-catégories 2:", error);
            }
        });
    }

    $('#searchForm').on('submit', function(event) {
        var selectedValues = $('#searchInput').val();
        if (!selectedValues || selectedValues.length === 0) {
            showErrorAndHide();
            event.preventDefault();
        } else {
            $('#errorMessage').hide();
            displaySelectedSousCategories2Names(selectedValues);
            var url = "{{ path('articles') }}";
            if (selectedValues) {
                url += "?sousCategorie2Id[]=" + selectedValues.join("&sousCategorie2Id[]=");
            }
            window.location.href = url;
        }
    });

    $('#searchIcon').on('click', function() {
        var selectedValues = $('#searchInput').val();
        if (!selectedValues || selectedValues.length === 0) {
            showErrorAndHide();
        } else {
            $('#errorMessage').hide();
            displaySelectedSousCategories2Names(selectedValues);
            var url = "{{ path('articles') }}";
            if (selectedValues) {
                url += "?sousCategorie2Id[]=" + selectedValues.join("&sousCategorie2Id[]=");
            }
            window.location.href = url;
        }
    });

    $('#searchInput').on('select2:opening', function(event) {
        $('#errorMessage').hide();
    });

    fetchSousCategories2();
});

</script>
