{% extends 'site/base.html.twig' %}

{% block title %}Nos Villes touristiques{% endblock %}

{% block main %}

{% include 'site/partials/headerBan.html.twig' %}
<div class="container-fluid px-5">
    <div class="row">
        <div class="col-12">
            <h1 class="titre-section mt-5">Toutes les villes</h1>
            <p class="paragraph-nb-categories nb-glob-sc2 text-center">{{ sousCategories2|length }} destinations de villes</p>
        </div>
    </div>

    <div class="row mb-3 align-items-center">
        <div class="ps-4 col-md-6 d-flex justify-content-start align-items-center">
            <i id="displayCardsBtn" class="fas fa-map btn-filtre-all me-2"></i>
            <i id="displayTextBtn" class="fas fa-align-left btn-filtre-all"></i>
        </div>
    </div>

    {# CARD #}
    <div class="container-glob-card-SC2 d-none">
        <div class="row mb-3">
            <div class="col-md-6">
                <input type="text" id="searchBarInput" placeholder="Rechercher une ville" class="form-control">
            </div>
            <div class="col-md-6">
                <select id="souscategories2Dropdown" class="form-select">
                    <option value="" selected>Toutes les régions</option>
                    {% for sousCategory1 in souscategoryAll %}
                        <option value="{{ sousCategory1.getId() }}">{{ sousCategory1.nom }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row">
            {% for sousCategory2 in sousCategories2 %}
                <div class="col-md-3 mb-4 cardfilter" data-region-id="{{ sousCategory2.sousCategorie1.getId() }}">
                    <a href="{{ path('sous_categorie2_show', {'categorySlug': category.slug, 'sousCategory1Slug': sousCategory.slug, 'sousCategory2Slug': sousCategory2.slug }) }}" class="card-link">
                        <div class="card">
                            <img src="{{ asset('uploads/images/' ~ sousCategory2.image) }}" class="card-img-top" alt="{{ sousCategory2.nom }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ sousCategory2.nom }}</h5>
                                <p class="card-text">{{ articlesCountByVille[sousCategory2.getId()] }} {% if articlesCountByVille[sousCategory2.getId()] == 1 or sousCategory2.getId() == 0 %}article{% else %}articles{% endif %}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

        <div class="row justify-content-center" style="display: none;" id="noResultsMessage">
            <div class="col-12 text-center" style="margin: 150px 0;">
                <p>Aucun résultat trouvé</p>
            </div>
        </div>
    </div>


    {# TEXT #}
    <div class="container-fluid container-glob-text-SC2">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 mb-5">
            {% for sousCategory1 in souscategoryAll %}
            <div class="col">
                <div class="card h-100 card-SC2-glob">
                    <div class="card-body">
                        <h5 class="card-title">{{ sousCategory1.nom }}</h5>
                        <ul class="list-group list-group-flush">
                            {% for sousCategory2 in sousCategories2 %}
                                {% if sousCategory2.sousCategorie1.getId() == sousCategory1.getId() %}
                                    <li class="list-group-item">
                                        <a href="{{ path('sous_categorie2_show', {'categorySlug': category.slug, 'sousCategory1Slug': sousCategory.slug, 'sousCategory2Slug': sousCategory2.slug }) }}" class="card-link card-SC2-glob-title">
                                            {{ sousCategory2.nom }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const searchBarInput = document.getElementById('searchBarInput');
        const souscategories2Dropdown = document.getElementById('souscategories2Dropdown');
        const cards = document.querySelectorAll('.cardfilter');
        const noResultsMessage = document.getElementById('noResultsMessage');
        const displayCardsBtn = document.getElementById('displayCardsBtn');
        const displayTextBtn = document.getElementById('displayTextBtn');
        const containerGlobCardSC2 = document.querySelector('.container-glob-card-SC2');
        const containerGlobTextSC2 = document.querySelector('.container-glob-text-SC2');

        searchBarInput.addEventListener('keyup', filterCards);
        displayCardsBtn.addEventListener('click', displayCards);
        displayTextBtn.addEventListener('click', displayText);

        function filterCards() {
            const searchValue = searchBarInput.value.toLowerCase();
            const selectedRegionId = souscategories2Dropdown.value;
            let cardsVisible = false;

            cards.forEach(card => {
                const cardRegionId = card.dataset.regionId;
                const cardVisible = cardRegionId === selectedRegionId || selectedRegionId === '';

                if (cardVisible && card.querySelector('.card-title').textContent.toLowerCase().includes(searchValue)) {
                    card.style.display = 'block';
                    cardsVisible = true;
                } else {
                    card.style.display = 'none';
                }
            });

            if (!cardsVisible) {
                noResultsMessage.style.display = 'block';
            } else {
                noResultsMessage.style.display = 'none';
            }
        }

        function displayCards() {
            containerGlobCardSC2.classList.remove('d-none');
            containerGlobTextSC2.style.display = 'none';
            searchBarInput.value = '';
            filterCards();
        }

        function filterText() {
            const searchValue = searchBarInput.value.toLowerCase();
            const selectedRegionId = souscategories2Dropdown.value;

            document.querySelectorAll('.text-glob-sc2').forEach(textElement => {
                const text = textElement.textContent.toLowerCase();
                const regionId = textElement.closest('.col-md-3').dataset.regionId;
                const regionMatches = regionId === selectedRegionId || selectedRegionId === '';
                const textMatches = text.includes(searchValue);

                if (regionMatches && textMatches) {
                    textElement.style.display = 'block';
                } else {
                    textElement.style.display = 'none';
                }
            });
        }

        function displayText() {
            containerGlobCardSC2.classList.add('d-none');
            containerGlobTextSC2.style.display = 'block';
            searchBarInput.value = '';
            souscategories2Dropdown.value = '';

            filterText();
        }

        souscategories2Dropdown.addEventListener('change', function() {
            if (containerGlobTextSC2.style.display === 'block') {
                filterText();
            } else {
                filterCards();
            }
        });

        searchBarInput.addEventListener('keyup', filterText);

        souscategories2Dropdown.addEventListener('change', function() {
            if (containerGlobTextSC2.style.display === 'block') {
                filterText();
            } else {
                filterCards();
            }
        });
});
</script>
{% endblock %}
