{% extends 'site/base.html.twig' %}

{% block title %}Toutes les régions{% endblock %}

{% block main %}

{# {% include 'site/partials/headerBan.html.twig' %} #}
<div class="container-fluid px-5">
    <div class="row">
        <div class="col-12">
            <h1 class="titre-section">Toutes les régions</h1>
            <p class="paragraph-nb-categories">{{ sousCategories|length }} régions</p>
        </div>
    </div>

    <div class="row">
        {% for sousCategory in sousCategories %}
            <div class="col-md-3 mb-4">
                <a href="{{ path('sous_categorie1_show', {'categorySlug': category.slug, 'sousCategory1Slug': sousCategory.slug }) }}" class="card-link">
                    <div class="card">
                        <img src="{{ asset('uploads/images/' ~ sousCategory.image) }}" class="card-img-top" alt="{{ sousCategory.nom() }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ sousCategory.nom }}</h5>
                            {% set articleCount = articlesCountBySousCategorie1[sousCategory.getId()] ?? 0 %}
                            {% set villeCount = countSousCategories2[sousCategory.getId()] ?? 0 %}
                            <p class="card-text">{{ articleCount }} {% if articleCount == 1 or articleCount == 0 %}article{% else %}articles{% endif %} / {{ villeCount }} {% if villeCount == 1 or villeCount == 0 %}ville{% else %}villes{% endif %}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
