{% extends 'site/base.html.twig' %}


{% block title %}Articles {{ guide.nom }} - Vacanows{% endblock %}

{% block main %}
{% include 'site/partials/headerBan.html.twig' %}

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="d-flex align-items-center flex-md-row flex-column titre-section-articleGuide">
                <h1 class="titre-section">Articles - {{ guide.nom }}</h1>
                <div class="temps-lecture mb-3 ms-0 ms-md-5">
                    <p class="col-12">Lecture: {{ tempsLectureMin }} - {{ tempsLectureMax }} min</p>
                </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" id="searchBarInput" placeholder="Rechercher un article" class="form-control mb-3">
                    </div>
                    <div class="col-md-6">
                        <select id="souscategories2Dropdown" class="form-select">
                            <option value="">Toutes les villes</option>
                            {% set souscategories2 = [] %}
                            {% for article in articlesByGuide %}
                                {% set souscategorie = article.sousCategories2 %}
                                {% if souscategorie is not null and souscategorie not in souscategories2 %}
                                    {% set souscategories2 = souscategories2|merge([souscategorie]) %}
                                    <option value="{{ souscategorie.id }}">{{ souscategorie.nom }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    {% for article in articlesByGuide %}
                        <div class="col-md-4 mb-4 article-card" data-souscategorie-id="{{ article.sousCategories2.id }}">
                            <a href="{{ path('article_show', {'slug': article.slug }) }}" class="card-link">
                                <div class="card cardHeight">
                                    <img src="{{ asset('uploads/images/' ~ article.image1) }}" class="card-img-top" alt="Image">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ article.titre1 }}</h5>
                                        <p class="card-text">Temps de lecture: {{ article.tempsLecture }} min</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script>
    const searchBarInput = document.getElementById('searchBarInput');
    const souscategories2Dropdown = document.getElementById('souscategories2Dropdown');
    const articleCards = document.querySelectorAll('.article-card');
    const noArticlesFound = document.createElement('p');
    noArticlesFound.textContent = 'Aucun article trouvé.';
    noArticlesFound.style.display = 'none';
    noArticlesFound.style.textAlign = 'center';
    noArticlesFound.style.margin = '150px 0';
    document.querySelector('.row').appendChild(noArticlesFound);

    searchBarInput.addEventListener('keyup', (e) => {
        filterArticles();
    });

   souscategories2Dropdown.addEventListener('change', (e) => {
    filterArticles();
});

function filterArticles() {
    const searchValue = searchBarInput.value.toLowerCase();
    const selectedSouscategorieId = souscategories2Dropdown.value;

    articleCards.forEach((articleCard) => {
        const title = articleCard.querySelector('.card-title').textContent.toLowerCase();
        const cardSouscategorieId = articleCard.dataset.souscategorieId;

        const isSearchMatch = title.includes(searchValue);
        const isSouscategorieMatch = selectedSouscategorieId === '' || cardSouscategorieId === selectedSouscategorieId;

        if (isSearchMatch && isSouscategorieMatch) {
            articleCard.style.display = 'block';
        } else {
            articleCard.style.display = 'none';
        }
    });

    const articlesFound = Array.from(articleCards).some(articleCard => articleCard.style.display !== 'none');
    noArticlesFound.style.display = articlesFound ? 'none' : 'block';
}

</script>
{% endblock %}


