{% extends 'site/base.html.twig' %}

{% block title %}
    Articles
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row">
        <h2>{{ articles|length }} {% if articles|length == 1 %}article affiché{% else %} articles affichés{% endif %} </h2>
        {% for article in articles %}
            <div class="col-md-3 mb-4">
                <a href="{{ path('article_show', {'slug': article.slug }) }}" class="card-link">
                    <div class="card">
                        <img src="{{ asset('uploads/images/' ~ article.getImage1()) }}" class="card-img-top" alt="Image">
                        <div class="card-body">
                            <h5 class="card-title">{{ article.getTitre1() }}</h5>
                            <p class="card-text">Temps de lecture: {{ article.getTempsLecture() }} min</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
