<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Derniers articles</title>

    </style>
</head>
<body>

<div class="container" style="display: block; background-color: #f9f9f9; padding: 20px; margin: 0 auto; max-width: 800px;">
    <h2 style="font-weight:bold; color:#000000; text-align:center;">Derniers articles</h2>
        {% for article in data.articles %}
                <a href="https://vacanows.com/article/{{ article.getSlug() }}" style="text-decoration: none; color: inherit;">
    <table class="card card3 card-height" style="width: 80%; max-width: 600px; background-color: #f9f9f9; margin-top: 20px; border-radius: 10px; text-decoration: none; color: inherit; display: block;">
        <tr>
            <td style="padding: 10px;">
                <img src="https://vacanows.com/uploads/images/{{ article.getImage1() }}" class="card-img fixed-image" alt="Image article" style="border-radius: 10px; width: 200px; height: auto; margin-right: 20px;">
            </td>
            <td style="padding: 10px;">
                <h3 class="titre-voyage titre-sec7" style="color: #E76F51; font-size: 18px; margin-top: 10px; font-weight: 600;">Voyage à {{ article.getSousCategories2() }}</h3>
                <h4 class="titre-article titre-sec7" style="color: #000000; font-size: 20px; font-weight: bold; margin-top: 5px;">{{ article.getTitre1() }}</h4>
                <p class="date-article titre-sec7" style="color: #8A8A8A; font-size: 14px; margin-top: 5px;">Date de publication : {{ article.getModifDate()|date('d/m/Y') }}</p>
            </td>
        </tr>
    </table>
            </a>
    <hr style="margin-top: 20px; margin-bottom: 20px; border: 1px solid #8A8A8A;">
    {% endfor %}

    <p style="color:#000000; text-align:center;">Cliquez ici pour vous <a class="aNewsletter" href="https://vacanows.com/your-alert-mail/{{data.token}}" style="text-decoration:none; color:#E76F51;">désinscrire de la newsletter</a></p>
</div>

</body>
</html>
