{% extends 'site/base.html.twig' %}

{% block title %}{{ categories }} - {{ sous_categories_1 }} - {{ sous_categories_2 }} - {{ slug|capitalize }}{% endblock %}


{% block meta %}
    {% if meta_description is not null %}
        <meta name="description" content="{{ meta_description }}" />
    {% endif %}
    {% if meta_subject is not null %}
        <meta name="subject" content="{{ meta_subject }}" />
    {% endif %}
    {% if meta_author is not null %}
        <meta name="author" content="{{ meta_author }}" />
    {% endif %}
    {% if meta_category is not null %}
        <meta name="category" content="{{ meta_category }}" />
    {% endif %}
    {% if meta_og_description is not null %}
        <meta property="og:description" content="{{ meta_og_description }}" />
    {% endif %}
    {% if meta_og_title is not null %}
        <meta property="og:title" content="{{ meta_og_title }}" />
    {% endif %}
    {% if meta_canonical is not null %}
        <link rel="canonical" href="{{ meta_canonical }}" />
    {% endif %}
    {% if meta_image is not null %}
        <meta property="og:image" content="{{ meta_image }}" />
    {% endif %}

{% endblock %}

{% block main %}

<div class="container">
    <section class="section-1-articles">
        <div class="row">
            <div class="col-md-12">
    <h1 class="titre-section titre-articles">{{ titre_1 }}</h1>
    <nav aria-label="breadcrumb" style="margin-top: 10px;">
        <ol class="breadcrumb">
            <li class="breadcrumb-item filAriane"><a href="{{ path('categoriesglob_show') }}">Pays</a></li>
            <li class="breadcrumb-item filAriane"><a href="{{ path('categorie_show' , {'categorySlug': categories.getSlug()}) }}">{{ categories }}</a></li>
            <li class="breadcrumb-item filAriane"><a href="{{ path('sous_categories1glob_show') }}">Régions</a></li>
            <li class="breadcrumb-item filAriane"><a href="{{ path('sous_categorie1_show', {'categorySlug': categories.getSlug(), 'sousCategory1Slug': sous_categories_1.getSlug() } ) }}">{{ sous_categories_1 }}</a></li>
            <li class="breadcrumb-item filAriane"><a href="{{ path('sous_categories2glob_show') }}">Villes</a></li>
            <li class="breadcrumb-item filAriane active" aria-current="page"><a href="{{ path('sous_categorie2_show', {'categorySlug': categories.getSlug(), 'sousCategory1Slug': sous_categories_1.getSlug(), 'sousCategory2Slug': sous_categories_2.getSlug() }  ) }}">{{ sous_categories_2 }}</a></li>
            <li class="breadcrumb-item filAriane" aria-current="page"><a class="active-Ariane">{{ slug|capitalize }}</a></li>
        </ol>
    </nav>
    <p class="paragraph-section">{{ paragraph_1|striptags('<a><br><strong>')|replace({'<a ': '<a target="_blank" '})|raw }}</p>
    <div class="temps-lecture temps-lecture-articles">
        <p>Lecture : {{ temps_lecture }} minutes</p>
    </div>
</div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <img src="{{ asset('uploads/images/' ~ image) }}" alt="{{ categories }}-{{ sous_categories_1 }}-{{ sous_categories_2 }}-{{ slug|capitalize }}" class="img-fluid image-article">
            </div>
        </div>
    </section>

    <section class="section-2-articles">
        <div class="row">
            <div class="col-md-12">
                <h2 class="titre-section">{{ titre_2 }}</h2>
                <p class="paragraph-section">{{ paragraph_2|striptags('<a><br><strong>')|replace({'<a ': '<a target="_blank" '})|raw }}</p>
            </div>
        </div>
    </section>

    <section class="section-3-articles">
        <div class="row">
            <div class="col-md-12">
                <h3 class="titre-section">{{ titre_3 }}</h3>
                <p class="paragraph-section">{{ paragraph_3|striptags('<a><br><strong>')|replace({'<a ': '<a target="_blank" '})|raw }}</p>
            </div>
        </div>
    </section>
</div>

<section class="section-4-articles">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            {% set libelles = [
                'Prix',
                'Sécurité',
                'Hébergement',
                'Activités',
                'Gastronomie',
                'Transports',
                'Ecologie',
                'Accessibilité pour personne à mobilité réduite',
                'Activités pour les enfants',
                'Activités sportives',
                'Culture',
                'Bien-être'
            ] %}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                {% for villeRandoms in villesRandom %}
                                    <th>
                                        {{ villeRandoms.getNom() }}
                                    </th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                        {% if villesRandom is not empty %}
                            {% set previousRowEven = true %}
                            {% set previousRowClass = 'ligne-paire' %}

                            {% for i in 1..12 %}
                                {% set functionName = 'isTabLibelle' ~ i %}
                                {% if attribute(article, functionName) %}
                                    {% set currentRowEven = loop.index is even %}
                                    {% set rowClass = currentRowEven ? 'ligne-paire' : 'ligne-impaire' %}

                                    {% if rowClass == previousRowClass %}
                                        {% set rowClass = currentRowEven ? 'ligne-impaire' : 'ligne-paire' %}
                                    {% endif %}

                                    {% set previousRowClass = rowClass %}

                                    <tr class="{{ rowClass }}">
                                        <td>{{ libelles[i - 1] }}</td>
                                        {% for villeRandom in villesRandom %}
                                            <td>{{ attribute(villeRandom, 'getNoteTabItem' ~ i) }}/10</td>
                                        {% endfor %}
                                    </tr>
                                {% endif %}
                            {% endfor %}

                            <tr class="ligne-end">
                                <td></td>
                                {% for i, affiliateLink in affiliateLinks %}
                                    <td>
                                        {% if affiliateLink %}
                                            <a href="{{ affiliateLink|striptags|raw }}" target="_blank" class="btn bouton_tab">
                                                Voir les prix
                                            </a>
                                        {% else %}
                                            <button class="btn bouton_tab" disabled>
                                                Voir les prix
                                            </button>
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% else %}
                            <tr class="ligne-paire">
                                <td class="Rnone" colspan="13">Aucune ville de la région {{ sous_categories_1 }} n'a été trouvée à part celui de {{ sous_categories_2 }}</td>
                            </tr>
                        {% endif %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-5-articles">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="titre-section">{{ titre_4 }}</h4>
                <p class="paragraph-section">{{ paragraph_4|striptags('<a><br><strong>')|replace({'<a ': '<a target="_blank" '})|raw }}</p>
            </div>
        </div>
    </div>
</section>

<section class="section-6-articles">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="titre-section titre-section2 sujets">Sujets liés</h2>
            </div>
{% if articlesWithSameSousCategories2 is empty %}
    <p class="aucun-articles">Aucun autre article trouvé lié à {{ sous_categories_2 }}.</p>
{% else %}
    {% for article in articlesWithSameSousCategories2 %}
        <div class="col-12 col-md-4">
            <a href="{{ path('article_show', {'slug': article.getSlug()|lower}) }}" class="card-link">
                <div class="card cardHeight">
                    <img src="{{ asset('uploads/images/' ~ article.getImage1()) }}" class="card-img fixed-image Image-sujetlies" alt="{{article.getSousCategories2() }} - {{ article.getTitre1()|capitalize }}">
                    <div class="card-body card-bottom">
                        <h5 class="card-title">{{ article.getTitre1()|capitalize }}</h5>
                        <p class="card-text mt-3">Lecture: {{ article.getTempsLecture() }} minutes</p>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
{% endif %}
        </div>
    </div>
</section>

{% include 'site/article/comment.html.twig' %}


<section class="container section-7-articles">
    <div class="row" id="nouveaux-articles-container">
        <div class="col-12">
                <h2 class="titre-dernier-articles"><strong>Derniers articles</strong></h2>
        </div>
        {% for article in lastArticles %}
                <div class="col-12">
                    <a href="{{ path('article_show', {'slug': article.getSlug() }) }}" class="card card3 card-height">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="{{ asset('uploads/images/' ~ article.getImage1()) }}" class="card-img fixed-image" alt="{{ article.getSousCategories2() }}">
                            </div>
                            <div class="col-md-8 container-title-section7">
                                <h3 class="titre-voyage titre-sec7">Voyage à {{ article.getSousCategories2() }}</h3>
                                <h4 class="titre-article titre-sec7">{{ article.getTitre1()|capitalize }}</h4>
                                <p class="date-article titre-sec7">{{ article.getCreatedDate()|date('d/m/Y') }}</p>
                            </div>
                        </div>
                    </a>
                </div>
        {% endfor %}
    </div>

    {% if total > 0 %}
        <div class="col-12">
            <a class="btn bouton1 bouton2" id="charger-plus" data-offset="{{ offset }}" data-total="{{ total }}">
                Découvrir plus
            </a>
        </div>
    {% endif %}
</section>

<script>
$(document).ready(function () {
    $(document).on('click', '#charger-plus', function () {
        var offset = $(this).data('offset');
        var total = $(this).data('total');
        var excludedArticles = [];
        $('#nouveaux-articles-container .card').each(function () {
            excludedArticles.push($(this).data('article-id'));
        });
        $.ajax({
            url: "{{ path('load_more_articles', {'offset': 0}) }}".replace('0', offset),
            type: "GET",
            data: {
                offset: offset,
                excludedArticles: JSON.stringify(excludedArticles)
            },
            success: function (response) {
                $('#nouveaux-articles-container').append(response);
                if (offset + 3 >= total) {
                    $('#charger-plus').remove();
                } else {
                    $('#charger-plus').data('offset', offset + 3);
                }
            }
        });
    });
});


</script>

{% endblock %}
