{% extends 'site/base.html.twig' %}

{% block main %}

<div class="container-global">
{% include 'site/partials/headerBan.html.twig' %}

<div class="container section-1">
    <div class="row">
        <div class="col-12">
            <h2 class="titre-section">{{ titre_1|striptags|raw }}</h2>
            <p class="paragraph-section">{{ paragraph_1|striptags|raw }}</p>
        </div>
    </div>
</div>

<div class="section-2">
    <div>
        <div class="row">
            <div class="col-12 col-md-6 ">
                <img src="{{ asset('uploads/images/' ~ image_1) }}" alt="image1" class="img-fluid image-1">
                <img src="{{ asset('uploads/images/' ~ image_1_no_border) }}" alt="image2" class="img-fluid image-no-border">
            </div>
            <div class="col-12 col-md-6 align-self-center container-section2Text">
                <h2 class="titre-section titre-section2">{{ titre_2|striptags|raw }}</h2>
                <p class="paragraph-section paragraph-section2">{{ paragraph_2|striptags|raw }}</p>
                    <div class="col-12 container-bouton1">
                    <a href="#" class="btn bouton1">{{ bouton_1 }}</a>
                    </div>
            </div>
        </div>
    </div>
</div>

<div class="container section-3">
    <div class="row">
        <div class="col-12 ">
            <h2 class="titre-section titre-section3">{{ titre_3|striptags|raw }}</h2>
            <p class="paragraph-section paragraph-section3">{{ paragraph_3|striptags|raw }}</p>
            <h3 class="sous-titre">{{ sous_titre_1|striptags|raw }}</h3>
            <p class="paragraph-section paragraph-section3">{{ paragraph_4|striptags|raw }}</p>
            <h3 class="sous-titre">{{ sous_titre_2|striptags|raw }}</h3>
            <p class="paragraph-section paragraph-section3">{{ paragraph_5|striptags|raw }}</p>
            <h3 class="sous-titre">{{ sous_titre_3|striptags|raw }}</h3>
            <p class="paragraph-section paragraph-section3">{{ paragraph_6|striptags|raw }}</p>
        </div>
    </div>
</div>

<div class="container section-4 reco">
    <div class="row">
        <div class="col-12 ">
            <h2 class="titre-reco">{{ titre_new_recommandation|striptags|raw }}</h2>
        </div>
        {% for category in categoriesToShow %}
        {% set categorySlug = category.getSlug() %}
        {% for sousCategorie in sousCategoriesToShow %}
            {% if sousCategorie.getCategories() == category %}
            <div class="col-12 col-md-4">
        <a href="{{ path('sous_categorie1_show', {'categorySlug': categorySlug, 'sousCategory1Slug': sousCategorie.getSlug()}) }}" class="card-link">
                <div class="card">
                    <img src="{{ asset('uploads/images/' ~ sousCategorie.image) }}" class="card-img-top" alt="Image">
                    <div class="card-body">
                        <h5 class="card-title">{{ sousCategorie.getNom() }}</h5>
                        {% set articleCount = articlesCountBySousCategorie1[sousCategorie.getId()] %}
                        {% if articleCount == 0 or articleCount == 1 %}
                            <p class="card-text">{{ articleCount }} article</p>
                        {% else %}
                            <p class="card-text">{{ articleCount }} articles</p>
                        {% endif %}
                    </div>
                </a>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        {% endfor %}

        <div class="col-12 ">
            <a href="{{ path('sous_categories1glob_show') }}" class="btn bouton1 bouton2">{{ bouton_1 }}</a>
        </div>
    </div>
</div>


<div class="container section-5">
    <div class="row">
    <h2 class="titre-section titre-section5">{{ titre_4|striptags|raw }}</h2>
            <p class="paragraph-section paragraph-section-5">{{ paragraph_7|striptags|raw }}</p>
            {% for sousCategory in sousCategoriesToShow %}
                <div class="col-12">
                    <h3 class="sous-titre sous-titre2">{{ sousCategory.getNom() }} : </h3>
                    <p class="paragraph-section paragraph-section-5">{{ sousCategory.getDescription|striptags|raw }}</p>
                </div>
            {% endfor %}
    </div>
</div>


<div class="container section-6 reco">
    <div class="row">
        <div class="col-12 ">
            <h2 class="titre-reco">{{ titre_new_recommandation|striptags|raw }}</h2>
        </div>
        {% for categorie in categoriesToShow %}
            <div class="col-12 col-md-3">
            <a href="{{ path('categorie_show', {'categorySlug': categorie.getSlug()}) }}" class="card-link">
                <div class="card2">
                    <img src="{{ asset('uploads/images/' ~ categorie.image) }}" class="card-img-top" alt="Image">
                    <div class="card-body">
                        <h5 class="card-title2">{{ categorie.getNom() }}</h5>
                    </div>
                </div>
            </a>
            </div>
        {% endfor %}
        <div class="col-12 ">
            <a href="{{ path('categoriesglob_show') }}" class="btn bouton1 bouton2">{{ bouton_1 }}</a>
        </div>
    </div>
</div>

<div class="container section-7">
    <div class="row" id="nouveaux-articles-container">
        <div class="col-12r">
            <h2 class="titre-dernier-articles"><strong>Derniers articles</strong></h2>
        </div>

{% for article in lastArticles %}
    <div class="col-12">
        <a href="{{ path('article_show', {'slug': article.getSlug()}) }}" class="card card3">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ asset('uploads/images/' ~ article.getImage1()) }}" class="card-img fixed-image" alt="Image">
                </div>
                <div class="col-md-8 container-title-section7">
                    <h3 class="titre-voyage titre-sec7">Voyage à {{ article.getSousCategories2() }}</h3>
                    <h4 class="titre-article titre-sec7">{{ article.getTitre1()|capitalize }}</h4>
                    <p class="date-article titre-sec7">{{ article.getCreatedDate()|date('d/m/Y') }}</p>
                </div>
            </div>
        </a>
    </div>
{% endfor %}
</div>

{% if total > 0 %}
    <div class="col-12">
        <a class="btn bouton1 bouton2" id="charger-plus" data-offset="{{ offset }}" data-total="{{ total }}">
            Découvrir plus
        </a>
    </div>
{% endif %}

    </div>
</div>

<script>
$(document).ready(function () {
    $(document).on('click', '#charger-plus', function () {
        var offset = $(this).data('offset');
        var total = $(this).data('total');
        var articleId = $(this).data('articleId'); // Ajouter cette ligne pour obtenir l'ID de l'article
        $.ajax({
            url: "{{ path('load_more_articles', {'offset': 0}) }}".replace('0', offset),
            type: "GET",
            data: {
                offset: offset,
                articleId: articleId // Ajouter l'ID de l'article à la requête
            },
            success: function (response) {
                $('#nouveaux-articles-container').append(response);
                if (offset + 3 >= total) {
                    $('#charger-plus').remove();
                } else {
                    $('#charger-plus').data('offset', offset + 3);
                }
            }
        });
    });
});


</script>
{% endblock %}


